<main>
  <div
    class="bg-zinc-800 text-zinc-300 flex h-10 w-full items-center justify-end px-8"
  >
    <button
      class="bg-zinc-800 hover:bg-zinc-700 text-white px-2 py-1 mx-2 rounded flex items-center"
    >
      <img
        src="https://xelex.worldsoft.com.vn/assets/images/flags/VI.svg"
        alt="Vietnam Flag"
        class="mr-1"
      />
      <p>Tiếng Việt</p>
    </button>
    <button
      class="bg-zinc-800 hover:bg-zinc-700 text-white px-2 py-1 mx-2 rounded flex items-center"
    >
      <img
        src="https://xelex.worldsoft.com.vn/assets/images/portal/contact-us.png"
        alt="Contact Logo"
        class="h-6 mr-1"
      />
      <p>Liên Hệ</p>
    </button>
  </div>
  <header
    id="headerStick"
    class="bg-zinc-950 flex h-16 w-full items-center px-8 sticky top-0 z-10"
  >
    <a href="#"
      ><img
        src="https://xelex.worldsoft.com.vn/assets/images/logo/worldsoft.png"
        alt="Xelex Logo"
        class="h-6 w-auto"
    /></a>
    <div class="px-8">
      <button
        class="bg-zinc-950 hover:bg-zinc-800 text-white font-bold py-2 px-4 rounded"
      >
        Trang chủ
      </button>
      <button
        class="bg-zinc-950 hover:bg-zinc-800 text-white font-bold py-2 px-4 rounded"
      >
        Giới thiệu
      </button>
      <button
        class="bg-zinc-950 hover:bg-zinc-800 text-white font-bold py-2 px-4 rounded"
      >
        Sản phẩm
      </button>
      <button
        class="bg-zinc-950 hover:bg-zinc-800 text-white font-bold py-2 px-4 rounded"
      >
        Dịch vụ
      </button>
      <button
        class="bg-zinc-950 hover:bg-zinc-800 text-white font-bold py-2 px-4 rounded"
      >
        Đối tác
      </button>
      <button
        class="bg-yellow-500 text-zinc-950 font-bold py-2 px-4 rounded active active:bg-amber-400"
      >
        Tin tức
      </button>
      <button
        class="bg-zinc-950 hover:bg-zinc-800 text-white font-bold py-2 px-4 rounded"
      >
        Sự kiện
      </button>
      <button
        class="bg-zinc-950 hover:bg-zinc-800 text-white font-bold py-2 px-4 rounded"
      >
        Hỗ trợ
      </button>
      <button
        class="bg-zinc-950 hover:bg-zinc-800 text-white font-bold py-2 px-4 rounded"
      >
        Tuyển dụng
      </button>
    </div>
    <a href="#">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/1200px-Vector_search_icon.svg.png"
        alt="Seacrh Icon"
        class="h-4 w-auto"
      />
    </a>
  </header>
  <div class="bg-zinc-50">
    <app-swipernews></app-swipernews>
    <app-swipercategorie></app-swipercategorie>
    <app-newslist></app-newslist>
  </div>
  <footer class="bg-zinc-800 py-4 text-zinc-300 mt-4">
    <div id="footerTop" class="flex px-8">
      <div class="basis-1/4 mx-2">
        <img
          src="https://xelex.worldsoft.com.vn/assets/images/logo/worldsoft.png"
          alt="Xelex Logo"
          class="h-16 w-auto"
        />
      </div>
      <div class="basis-1/4 mx-2">
        <h2 class="font-bold text-xl">LIÊN HỆ</h2>
        <hr class="my-4" />
        <div class="flex my-2">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-6 w-6 footer-text-color mr-2"
          >
            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
            <circle cx="12" cy="10" r="3"></circle>
          </svg>
          <p>124 Huynh Tan Phat Str., Tan Thuan Tay Ward, Dist. 7, HCMC</p>
        </div>
        <div class="flex items-center my-2">
          <svg
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4 footer-text-color mr-2"
          >
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <path
              d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
            ></path>
          </svg>
          <p>(+84) 28 6270 1372</p>
        </div>
        <div class="flex items-center my-2">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4 footer-text-color mr-2"
          >
            <path
              d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
            ></path>
            <polyline points="22,6 12,13 2,6"></polyline>
          </svg>
          <p>info@xelex.vn</p>
        </div>
      </div>
      <div class="basis-1/4 mx-2">
        <h2 class="font-bold text-xl">ĐIỀU KHOẢN</h2>
        <hr class="my-4" />
        <div class="my-2">
          <a href="#">Điều khoản sử dụng</a>
        </div>
        <div class="my-2">
          <a href="#">Chính sách bảo mật</a>
        </div>
        <p></p>
      </div>
      <div class="basis-1/4 mx-2">
        <h2 class="font-bold text-xl">KẾT NỐI VỚI CHÚNG TÔI</h2>
        <hr class="my-4" />
        <div class="flex">
          <img
            src="https://xelex.worldsoft.com.vn/assets/images/portal/facebook_footer.png"
            alt="Facebook Logo"
            class="h-16 w-auto mr-4"
          />
          <img
            src="https://xelex.worldsoft.com.vn/assets/images/portal/youtube_footer.png"
            alt="Youtube Logo"
            class="h-16 w-auto"
          />
        </div>
      </div>
    </div>
    <div id="footerBot" class="flex">
      <p class="mx-auto">
        Copyright © 2023 Xelex Corporation - All right reserved Powered by
        <a href="#" class="text-blue-500">Worldsoft Corporation</a>
      </p>
    </div>
  </footer>
</main>
